.box {
    float:;
    width: 70px;
    height: 85px;
    background-color: #ffff00;
    transition-property: width, background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out; /* www.matthewlein.com/tools/ceaser */
    
}
 /* try other easings:
     	linear
			ease
			ease-in
			ease-out
			ease-in-out
			step-start
			step-end
		*/

.box:hover {
    width: 200px;
    height: 200px;
    background-color:  #e84610;
    
}


